.body {
  min-width: 1200 px;
  font-family: "Montserrat", sans-serif;
}

.header {
  background-color: rgba(94, 93, 88, 0.6);
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  padding: 38px 0 36px 0;
  margin-bottom: 264px;
}

.header-wrapper {
  background-image: url(../images/Background/section-1.jpg);
  background-attachment: scroll;
  background-size: cover;
  background-attachment: fixed;
}

.logo {
  padding-left: 380px;
}

.logo-text {
  font-size: 22px;
  padding: 12px 0 0 5px;
  text-decoration: none;
  color: white;
}

.highlighted-letters {
  color: #18cfab;
}
.logo-letters {
  font-size: 32px;
  font-weight: bold;
}

.menu-list {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: flex-end;
  padding: 28px 0 27px 27px;
}

.search-btn {
  margin-right: 380px;
  border: none;
  background-color: rgba(94, 93, 88, 0);
  padding: 25.5px 26.5px;
  cursor: pointer;
}

.menu-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.line-for-hover {
  opacity: 0;
  position: relative;
  border-bottom: solid 2px #18cfab;
  width: 100%;
  top: 63px;
}

.menu-item:hover .line-for-hover {
  opacity: 1;
}

.menu-link:hover {
  color: #18cfab;
}

.menu-item {
  padding-right: 20px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  color: white;
}

.title-container {
  text-align: center;
}

.title-theme {
  font-size: 35px;
  font-weight: bold;
  color: white;
  margin-bottom: 22px;
}

.tagline {
  font-size: 78px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.title-text {
  font-size: 35px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 129px;
}

.button {
  display: flex;
  padding: 74px 0 74px 0;
  justify-content: center;
}

.btn-left,
.btn-right {
  display: block;
  border-radius: 2mm;
  width: 169px;
  height: 63px;
  color: white;
  border: none;
  border-top: white solid 5px;
  font-size: 18px;
}

.btn-left,
.btn-right:hover {
  cursor: pointer;
}

.btn-left {
  background-color: #18cfab;
  margin-right: 26px;
}

.btn-right {
  background-color: #00cbf6;
}

.description-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 224px;
}

.description-item {
  padding: 2px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  height: 377px;
  border-top: white solid 10px;
  background-color: #18cfab;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.dark-theme {
  background-color: #1c2a33;
  color: #18cfab;
}

.content-container {
  max-width: 1160px;
  margin: auto;
  padding-bottom: 70px;
}

.content-title {
  font-size: 36px;
  color: #4e4e4e;
  text-align: center;
  margin-bottom: 24px;
}

.line-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 69px;
}

.line {
  border-bottom: solid 4px #18cfab;
  width: 78px;
  text-align: center;
}

.bottom-line {
  position: relative;
  left: 25px;
  top: 4px;
}

.content-menu-item {
  color: #717171;
  background-color: #f8fcfe;
  padding: 25px;
  width: 100%;
  cursor: pointer;
}

.content-menu-item:hover {
  border: solid #18cfab 1.5px;
  padding: 23.5px;
}

.active {
  color: white;
  background-color: #18cfab;
  text-align: center;
}

.active::after {
  position: relative;
  content: "";
  width: 0;
  height: 0;
  right: 40%;
  top: 53px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #18cfab;
}

.menu-item-list {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin-bottom: 28px;
  text-align: center;
}

.content-description {
  display: flex;
  flex-direction: row;
  margin-bottom: 91px;
}

.hidden {
  display: none;
}

.content-description p {
  padding-left: 10px;
  color: #777777;
}
.content-description img {
 width: 192px;
 height: 139px;
}

.purchase-container {
  background-color: #e9edef;
  margin-bottom: 82px;
}

.purchase-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/Background/Layer2.jpg);
  margin-bottom: 96px;
}

.purchase-title {
  padding-top: 127px;
  font-weight: bold;
  font-size: 40px;
  color: #18cfab;
  margin-bottom: 12.22px;
}

.purchase-description {
  font-size: 16px;
  color: #d8d8d8;
  margin-bottom: 67px;
}

.purchase-button {
  margin-bottom: 127px;
}

.work-menu {
  width: 582px;
  margin: auto;
  margin-bottom: 71px;
}

.work-item-list {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.work-list-item {
  flex-grow: 2;
  font-size: 14px;
  color: #717171;
  background-color: rgba(0, 0, 0, 0.0001);
  border: 1px solid #dadada;
  cursor: pointer;
  padding: 14px 0 13px 0;
}

.work-list-item .all-list-item {
  flex-grow: 1;
}

.work-list-item:hover {
  border: 1px solid #18cfab;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-bottom: 70px;
  font-size: 0;
}

.img-container img {
  width: 290px;
  height: 208px;
}

.btn-container {
  text-align: center;
}

.load-btn {
  width: 168px;
  height: 63px;
  border: none;
  border-radius: 3px;
  text-align: center;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #18cfab;
  cursor: pointer;
}

.load-btn::before {
  position: relative;
  content: url(../images/icons/Forma.png);
  right: 5px;
  top: 3px;
}

.news-wrapper {
  padding-top: 68px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 263px);
  grid-template-rows: repeat(2, 208px);
  grid-gap: 117px 35px;
  margin-bottom: 129px;
}

.news-item {
  position: relative;
  text-decoration: none;
}

.news-item:hover h3 {
  color: #18cfab;
}

.news-item:hover .date-news {
  background-color: #18cfab;
}

.news-description {
  position: relative;
  bottom: 3px;
  background-color: #f8fcfe;
  border: 1px solid #f2f4f5;
}

.date-news {
  line-height: 200%;
  padding-top: 5px;
  text-align: center;
  position: absolute;
  width: 70px;
  height: 68px;
  background-color: #203e38;
  color: white;
  font-size: 16px;
  top: 0;
  right: 0;
}

.news-item h3 {
  font-size: 18px;
  font-weight: bold;
  color: #717171;
  padding: 20px;
}

.news-item h5 {
  padding-left: 20px;
  display: inline-block;
  font-size: 14px;
  color: #777777;
  margin-bottom: 15px;
}

.for-separate::after {
  margin-left: 20px;
  content: "|";
  color: #777777;
}

.img-item {
  position: relative;
}

.hover-block {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  border-top: solid 3px #18cfab;
  background-color: #e9edef;
  padding-top: 40px;
  width: 290px;
  height: 208px;
  color: #18cfab;
  pointer-events: none;
  position: relative;
  right: 290px;
  margin-right: -290px;
}

.hover-block-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #18cfab;
  padding-top: 30px;
}

.hover-block-description {
  font-size: 12px;
  color: #8a8a8a;
  padding: 25px 0 34px 0;
}

.img-wrapper {
  position: relative;
}

.people-say {
  background-image: url(../images/Background/section-3.jpg);
}

.people-say-title {
  color: white;
  padding: 98px 0 29px 0;
}
.quotes {
  font-family: "Rozha One", serif;
  color: white;
  font-size: 100px;
  text-align: center;
  padding-top: 66px;
  color: #bbbbbb;
  height: 50px;
}

.quotes:hover {
  color: #18cfab;
}

.review-block span{
  display: block;
  height: 50px;
  margin-bottom: 20px;
}

.employer {
  text-align: center;
}

.employer-description,
.emploer-job {
  color: #bbbbbb;
  font-size: 16px;
  line-height: 30px;
}

.emploer-job {
  padding-bottom: 50px;
}

.employer-name {
  padding: 37px 0 20px 0;
  font-weight: bold;
  font-size: 16px;
  color: #18cfab;
}

.employer-photo {
  border-radius: 50%;
  width: 143px;
  height: 142px;
  border: solid 15px rgba(30, 130, 120, 0.5);
}

.carousel-wrapper {
  padding-top: 57px;
  display: flex;
  width: 500px;
  margin: auto;
  align-items: center;
  padding-bottom: 100px ;
}

.carousel-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto; 
}

.employer-icon {
  border: solid 5px rgba(30, 130, 120, 0.5);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 10px;
  cursor: pointer; 
}

.employer-icon-hover {
  transition: 2s;
  position: relative;
  bottom: 30px;
  animation-duration: 1s;
  animation-name: fadein; 
}

@keyframes fadein {
  from {
    bottom: 0px; 
  }

  to {
    bottom: 30px;
  }
}

.carousel-btn {
  position: relative;
  cursor: pointer;
  width: 31px;
  height: 31px;
  background-color: rgba(0, 0, 0, 0.0001);
  border: 1px solid #bbbbbb;
}

.carousel-btn:hover {
  color: white;
  background-color: #18cfab;
}

.carouselRight::after {
  content: "<";
  color: #bbbbbb;
  font-size: 20px;
  position: relative;
}

.carouselLeft::after {
  content: ">";
  color: #bbbbbb;
  font-size: 20px;
  position: relative;
}


.footer {
  display: flex;
  background-color: #22353f;
  color: #8a8a8a;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 121px;
  font-size: 14px;
}

.footer span {
  padding-left: 5px;
}

.footer-rights::before {
  content: "|";
  color: #8a8a8a;
  font-size: 14px;
  padding-right: 5px;
}
